/* Please Make only Rhino and Zebra Blue */
section>.africa{
    color:blue;
}
/*you can also use 

#rhino,#zebra{
    color:blue;
}

/* Please Make only Hufflepuff Gold */

#bestHouse{
    color:gold;
}

/* Please select Duck with the highest level of specificity possible */

html> head+ body > section.top + section.middle + article.areDucksDinosaurs > h2.likesToQuack{
    color:red !important;
}

/* Please select Rhino with the highest level of specificity possible */
