*{
    box-sizing:border-box; /*this tells the browser to ignore the borders*/
}

header,footer{
    height: 100px;
    border: 3px solid black;
    color:blue;
    clear:both;
}

section{
    width: 33.33%;
    height:300px;
    border: 3px solid black;
    float:left;

}

